---
layout: default
title: Grama Bharathi
image: /assets/images/logo.png
---
<header>
    <div id="carouselExampleIndicators" class="carousel slide full-width" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner bg-white" role="listbox">
            <div class="carousel-item active" style="background-image: url('/assets/images/GBHPC.png')">
                <div class="carousel-caption d-md-block">
                    <h1 class="display-4 font-weight-bold">23rd Dec, 2021</h1>
                    <br><br><br><br><br>
                    <p class="lead">
                    <div class="py-3 text-white font-weight-bold display-4">
                       
                    </div>
                    </p>
                    <br>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('/assets/images/seed-germ.jpeg')">
                <div class="carousel-caption d-md-block">
                    <h1 class="display-4 font-weight-bold">గ్రామాభివృద్ధే… దేశాభివృద్ధి…</h1>
                    <br><br><br><br><br>
                    <p class="lead">
                    <div class="py-3 text-white font-weight-bold display-4">
                        భూ సంపద
                    </div>
                    </p>
                    <br>
                </div>
            </div>
            <div class="carousel-item"
                style="background-image: url('/assets/images/desi-calf.jpg'); background-repeat: no-repeat; background-size: auto;">
                <div class="carousel-caption d-md-block">
                    <h1 class="display-4 font-weight-bold">గ్రామాభివృద్ధే… దేశాభివృద్ధి…</h1>
                    <br><br><br><br><br>
                    <p class="lead">
                    <div class="py-3 text-white font-weight-bold display-4">
                        గో సంపద
                    </div>
                    </p>
                    <br>
                </div>
            </div>
            <div class="carousel-item"
                style="background-image: url('/assets/images/vana_1.jpeg'); background-repeat: no-repeat; background-size: 100% 100%;">
                <div class="carousel-caption d-md-block">
                    <h1 class="display-4 font-weight-bold">గ్రామాభివృద్ధే… దేశాభివృద్ధి…</h1>
                    <br><br><br><br><br>
                    <p class="lead">
                    <div class="py-3 text-white font-weight-bold display-4">
                        వన సంపద
                    </div>
                    </p>
                    <br>
                </div>
            </div>
            <div class="carousel-item"
                style="background-image: url('/assets/images/jala_1.jpeg'); background-repeat: no-repeat; background-size: 100% 100%;">
                <div class="carousel-caption d-md-block">
                    <h1 class="display-4 font-weight-bold">గ్రామాభివృద్ధే… దేశాభివృద్ధి…</h1>
                    <br><br><br><br><br>
                    <p class="lead">
                    <div class="py-3 text-white font-weight-bold display-4">
                        జల సంపద
                    </div>
                    </p>
                    <br>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-md-block">
                    <h1 class="display-4 font-weight-bold">గ్రామాభివృద్ధే… దేశాభివృద్ధి…</h1>
                    <br><br><br><br><br>
                    <p class="lead">
                    <div class="py-3 text-white font-weight-bold display-4">
                        జన సంపద
                    </div>
                    </p>
                    <br>
                </div>
            </div>
            <div class="carousel-item"
                style="background-image: url('/assets/images/jeeva.jpeg'); background-repeat: no-repeat; background-size: 100% 100%;">
                <div class="carousel-caption d-md-block">
                    <h1 class="display-4 font-weight-bold">గ్రామాభివృద్ధే… దేశాభివృద్ధి…</h1>
                    <br><br><br><br><br>
                    <p class="lead">
                    <div class="py-3 text-white font-weight-bold display-4">
                        జీవ సంపద
                    </div>
                    </p>
                    <br>
                </div>
            </div>
            <div class="carousel-item"
                style="background-image: url('assets/images/urja.png'); background-repeat: no-repeat; background-size: 100% 100%;">
                <div class="carousel-caption d-md-block">
                    <h1 class="display-4 font-weight-bold">గ్రామాభివృద్ధే… దేశాభివృద్ధి…</h1>
                    <br><br><br><br><br>
                    <p class="lead">
                    <div class="py-3 text-white font-weight-bold display-4">
                        ఊర్జ సంపద
                    </div>
                    </p>
                    <br>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>
<div class="overflow-hidden">
    <div class="container space-md-2">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 mb-7 mb-lg-0">
                <div class="pr-md-4">
                    <!-- Title -->
                    <div class="mb-7">
                        <h2 class="text-success font-weight-semi-bold">Action Plan</h2>
                        <p>
                        <ul>
                            <li>
                                <p>Adoption of Villages in each District</p>
                            </li>
                            <li>
                                <p>Formation of Grama Bharathi committees in each Districts</p>
                            </li>
                            <li>
                                <p>Health, Education, Sanitation, Tree Plantation and Environmental Protection
                                    are the main activities</p>
                            </li>
                            <li>
                                <p>Monthly Srama Seva</p>
                            </li>
                            <li>
                                <p>Trainings Programs on Natural Farming</p>
                            </li>
                            <li>
                                <p>Organizing Workshops to Guide Volunteers</p>
                            </li>
                            <li>
                                <p>Organizing Visits to Ideal and Model Villages</p>
                            </li>
                        </ul>

                    </div>
                    <!-- End Title -->
                </div>
            </div>

            <div class="col-lg-6 position-relative">
                <!-- Image Gallery -->
                <div class="row mx-gutters-2"
                    style="background-image: url(/assets/svg/soft-triangle-shape.svg); background-repeat: no-repeat;">
                    <div class="col-5 align-self-end px-2 mb-3">
                        <!-- Fancybox -->
                        <a class="js-fancybox u-media-viewer" data-src="/assets/images/seedball-prep-2.jpg"
                            data-fancybox="lightbox-gallery-hidden" data-caption="Speedball making event at Wanaparthy"
                            data-speed="700">
                            <img class="img-fluid rounded" src="/assets/images/seedball-prep-2.jpg"
                                alt="Image Description"> </a>
                        <!-- End Fancybox -->
                    </div>

                    <div class="col-7 px-2 mb-3">
                        <!-- Fancybox -->
                        <a class="js-fancybox u-media-viewer" data-src="/assets/images/seedball-prep-4.jpg"
                            data-fancybox="lightbox-gallery-hidden" data-caption="Front in frames - image #02"
                            data-speed="700">
                            <img class="img-fluid rounded" src="/assets/images/seedball-prep-4.jpg"
                                alt="Seed Balls Preparation">
                        </a>
                        <!-- End Fancybox -->
                    </div>

                    <div class="col-5 offset-1 px-2 mb-3">
                        <a class="js-fancybox u-media-viewer" href="javascript:;"
                            data-src="/assets/images/gb-yoga-1.jpg" data-fancybox="lightbox-gallery-hidden"
                            data-caption="మా ఆవాస ప్రముఖ్ Goli Kiran గారి సారథ్యంలో పిల్లలు మంచి క్రమ శిక్షణతో పాటు విన్యాసాలు"
                            data-speed="700">
                            <img class="img-fluid rounded" src="/assets/images/gb-yoga-1.jpg" alt="Image Description">
                        </a>
                    </div>

                    <div class="col-5 px-2 mb-3">
                        <a class="js-fancybox u-media-viewer" href="javascript:;"
                            data-src="/assets/images/sendhriya-vyavasaaya-shikshana.jpg"
                            data-fancybox="lightbox-gallery-hidden"
                            data-caption="Gau Based Integrated Natural Farming Training" data-speed="700">
                            <img class="img-fluid rounded" src="/assets/images/sendhriya-vyavasaaya-shikshana.jpg"
                                alt="Image Description">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gb u-devices-v2 full-width">
    <div class="container space-1 space-md-1 position-relative z-index-2">
        <div class="w-md-80 w-lg-50 text-center mx-md-auto">
            <h2 class="h1 text-white font-weight-semi-bold">గ్రామాభిరక్ష – నగరవత్&zwnj; కృతా</h2>
            <br>
            <p class="lead text-white-70 mb-0">
                గ్రామాలు ఆర్థిక ప్రగతిని సాధించకుండా సామాజిక న్యాయాన్ని సాధించలేవు. ఆర్థిక ప్రగతి అంటే తమకు అవసరమైన
                వనరులను తామే కల్పించుకోవడం, సంపాదనా శక్తిని పెంచుకోవడం.
            </p>
        </div>
    </div>
</div>
<div class="container space-top-2">
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <h2 class="text-gb font-weight-semi-bold">Achievements</h2>
    </div>
    <div class="row listfeaturedtag space-2">
        <div class="col-sm-6">
            <div class="card">
                <div class="row">
                    <div class="col-md-5 wrapthumbnail">
                        <div class="thumbnail" style="background-image:url(/assets/images/grama-meeting.jpg);">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-block">
                            <h2 class="card-title">Social Equality</h2>
                            <h4 class="card-text">Social Equality has been achieved with the continuos effort of the
                                development committee</h4>
                            <div class="metafooter">
                                <div class="wrapfooter">
                                    <span class="post-date">12 Jan 2018</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="row">
                    <div class="col-md-5 wrapthumbnail">
                        <div class="thumbnail" style="background-image:url(/assets/images/grama-meeting-2.jpg);">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-block">
                            <h2 class="card-title">Ban on Gambling</h2>
                            <h4 class="card-text">
                                Ban on Gambling since Oct 13, 2014 in Thirumalagiri, Athmakur, Warangal
                            </h4>
                            <div class="metafooter">
                                <div class="wrapfooter">
                                    <span class="post-date">13 Oct 2014</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="row">
                    <div class="col-md-5 wrapthumbnail">
                        <div class="thumbnail" style="background-image:url(/assets/images/seedball-prep.jpg-3.jpg);">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-block">
                            <h2 class="card-title">Seedballs Preparation</h2>
                            <h4 class="card-text">
                                Continuous activity to prepare Seed Balls to be sprinkled at forest targeting one crore
                                every year
                            </h4>
                            <div class="metafooter">
                                <div class="wrapfooter">
                                    <span class="post-date">Always</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="row">
                    <div class="col-md-5 wrapthumbnail">
                        <div class="thumbnail" style="background-image:url(/assets/images/health-camp-2.png);">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-block">
                            <h2 class="card-title">Health Camp</h2>
                            <h4 class="card-text">
                                Continuous activity to prepare Seed Balls to be sprinkled at forest targeting one crore
                                every year
                            </h4>
                            <div class="metafooter">
                                <div class="wrapfooter">
                                    <span class="post-date">Always</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="full-width">
<div class="container space-top-2">
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <h2 class="text-gb font-weight-semi-bold">News & Events</h2>
    </div>

    <div class="masonrygrid row listrecent space-top-2">

        {% for post in paginator.posts %}

        {% unless post.featured == true %}

        {% include postbox.html %}

        {% endunless %}

        {% endfor %}

    </div>

    <!-- Pagination -->
    <div class="bottompagination">

        <span class="navigation" role="navigation">

            {% include pagination.html %}

        </span>

    </div>
</div>
