<div class="row listfeaturedtag space-2 bg-gb">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="card">
            <div class="row">
                <div class="col-md-3 wrapthumbnail">
                    <div class="thumbnail" style="background-image:url(/assets/images/nimmala_ramachandraiah.jpeg);">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12 col-md-8">
                                <h2 class="card-title">కేంద్రప్రభుత్వం, నాబార్డ్, MSME పథకాల పై సంగోష్టి </h2>
                            </div>
                            <div class="col-sm-12 col-md-4 text-right">
                                <a class="btn btn-info btn-lg" href="{{ site.baseurl }}/concept-drive-registration"
                                    target="_blank">
                                    Click Here to Join
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <hr>
                            </div>
                        </div>

                        <h4 class="card-text">
                            సమయం : ఆదివారం 06.09.2020 రాత్రి 7:00 నుండి 8:00
                            గంటలకు, సమావేశంలో చేరడానికి
                            ఇక్కడ
                            క్లిక్
                            చేయండి : <a href="{{ site.baseurl }}/concept-drive-registration" target="_blank">గ్రామభారతి
                                ఆన్లైన్ సంగోష్ఠి | వెబినార్ రిజిస్ట్రేషన్</a>
                            <br>
                        </h4>
                        <p>
                            సూక్ష్మ, చిన్న, మధ్య తరహా పరిశ్రమలు
                            గ్రామీణ యువతకూ మరియు రైతులకు ఉపయోగ పడే పథకాల పై శ్రీ నిమ్మల రామచంద్రయ్య గారు, మిత్రా
                            ఫౌండేషన్ ద్వారా గత 15 సంవత్సరాలుగా
                            నాబార్డ్,
                            కేంద్రప్రభుత్వ
                            , PMEGP, MSME మొదలగు సంస్థల అనుసంధానం తో దాదాపు 480 రైతు క్లబ్ లు, 22 FPO లు
                            ఏర్పరచడంతో
                            పాటు
                            మరెన్నో పథకాల అమలుకు కృషి చేస్తూ, రైతులను చైతన్య పరిచే YouTube వీడియోలు కూడా
                            చేస్తున్నారు.

                            ఈ కార్యక్రమం లో కిసాన్ క్రేడిట్ కార్డు ఉపయోగాలు, ఫసల్ బీమా యోజన, చిన్న, సూక్ష్మ
                            తరహా
                            గ్రామీణ
                            వ్యాపారాలైన గానుగ నూనె, సిరిదాన్యలు, పప్పు ధాన్యాల ప్రాసెసింగ్ యంత్రాలు వంటి
                            వాటిని
                            ఏవిదంగా
                            స్థాపించుకోవచ్చొ తెలియజేస్తారు.

                            రైతులు, గ్రామీణ యువకులు, ఉత్సాహవంతులు ఈ కార్యక్రమంలో పాల్గొని తమ సందేహాలు
                            నివృత్తిచేసుకోగలరు.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>