<div class="bg-success u-devices-v2 full-width">
    <div class="container  full-width space-1 space-md-1 position-relative z-index-2">
        <div class="text-center mx-md-auto">
            <h2 class="h1 text-white font-weight-semi-bold">
                Airtel Hyderabad Marathon - Aug 25th, 2019
            </h2>
            <br>
            <marquee>
                <div class="row">
                    <div class="col">
                        <a class="text-white font-weight-semi-bold h3"
                            href="https://www.airtelhyderabadmarathon.com/register">
                            42.2 KM, FULL 05:00 AM
                        </a>
                    </div>
                    <div class="col">
                        <a class="text-white font-weight-semi-bold h3"
                            href="https://www.airtelhyderabadmarathon.com/register">
                            21.1 KM, HALF 06:00 AM
                        </a>
                    </div>
                    <div class="col">
                        <a class="text-white font-weight-semi-bold h3"
                            href="https://www.airtelhyderabadmarathon.com/register">
                            10 KM 07:00 AM
                        </a>
                    </div>
                    <div class="col">
                        <a class="text-white font-weight-semi-bold h3"
                            href="https://www.airtelhyderabadmarathon.com/register">
                            5 KM 08:00 AM
                        </a>
                    </div>
                </div>
            </marquee>
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <a class="btn btn-gb btn-lg btn-block" href="https://www.airtelhyderabadmarathon.com/register"
                            role="button">Register</a>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>