---
title: Grama Bharathi
layout: default
permalink: /Events
---
<div class="container-fluid position-relative space-top-md-5 z-index-2"
    style="height: 120%; background-image: url(&quot;../../assets/nature/green.jpeg&quot;); transform: translate3d(0px, -52.6055px, 0px);">
    <div class="w-lg-80 text-center mx-auto text-white">
        <h1 class="display-3 font-size-md-down-5 font-weight-semi-bold">Activities and Events</h1>

        <p class="lead text-white">Join your hands with us</p>

    </div>
</div>
<div class="clearfix">
    <main id="content" role="main">
        <div class="bg-light space-bottom-2">
            <div class="container-fluid u-cubeportfolio py-3">
                <section class="recent-posts">
                    <div class="card-columns listrecent">
                        {% for post in site.posts %}
                        {% include postbox.html %}
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>